<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54287963236-ra2f19qcp9vuholo5m47fjfustcjv730.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54287963236-ra2f19qcp9vuholo5m47fjfustcjv730</string>
	<key>API_KEY</key>
	<string>AIzaSyAOidN2Yqfv1I1jYocw-BWk0hHmVo28-XU</string>
	<key>GCM_SENDER_ID</key>
	<string>54287963236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yosustentable.suutyaax</string>
	<key>PROJECT_ID</key>
	<string>suut-yaax</string>
	<key>STORAGE_BUCKET</key>
	<string>suut-yaax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54287963236:ios:ef51ee4dea5e955ee03b71</string>
</dict>
</plist>